%btn {
  @extend %clickable;
  border-width: 2px;
  display: inline-block;
  padding: 4px 12px;
}

button.danger {
  @extend %btn;

  background: $c-error;
  color: $c-header-text;

  &:hover {
    background: $c-error-hover;
  }
}

button.neutral {
  @extend %btn;

  background: $c-neutral;
  color: $c-header-text;

  &:hover {
    background: $c-neutral-hover;
  }
}

button.success {
  @extend %btn;

  background: $c-success;
  color: $c-header-text;

  &:hover {
    background: $c-success-hover;
  }
}

button.planlist {
  float: left;
  margin: 5px;
}

